<app-header></app-header>

<div *ngIf="isLoading" class="loading-message">
  <p-progressSpinner styleClass="custom-spinner"></p-progressSpinner>
  <p>Carregando dados...</p>
</div>
<div *ngIf="!user && !isLoading" class="error-message">
  <p>Não conseguimos encontrar o usuário informado.</p>
</div>

<p-button routerLink="/" class="goBack">
  <p>Voltar</p>
</p-button>

<div class="container"  *ngIf="user">
<div id="inline" *ngIf="user">
  <div id="perfil">
    <div id="titleUser">
      <div id="boxImg">
          <img [src]="user.avatar_url" alt="Avatar do usuário">
           </div>
      <div id="boxUser">
          <p id="nome">{{user.name}}</p>
          <p id="user">@{{user.login}}</p>
        </div>
    </div>
    <p id="description">   {{ user.bio || 'Sem descrição.' }} </p>
    <div class="boxContent" style="margin-top: 25px;">
      <i class="pi pi-heart" ></i>
      <p>{{ user.following }} </p>
      <p>seguindo</p>
    </div>
    <div class="boxContent" style="margin-top: 8px;">
      <i class="pi pi-users" ></i>
      <p>{{ user.followers }}</p>
      <p>seguindores</p>
    </div>
    <div class="boxContent" style="margin-top: 25px;">
      <i class="pi pi-map-marker" ></i>
      <p>{{ user.location}}
      </div>
      <div class="boxContent" style="margin-top: 5px;">
       <i class="pi pi-envelope" ></i>
       <p>{{ user.email || 'Não Declarado' }}</p>
     </div>


</div>
  <a *ngIf="user.blog" [href]="user.blog" target="_blank" class="btn" >
    <p-button styleClass="p-button-secondary">
      <p>Contato</p>
    </p-button>
  </a>
  <a *ngIf="user.twitter_username" [href]="'https://twitter.com/' + user.twitter_username" target="_blank"  class="btn">
    <p-button styleClass="p-button-secondary">
      <p>Twitter</p>
    </p-button>
  </a>
</div>

  <div id="repo">
    <div class="repositorio" *ngFor="let repo of repos">
      <h2 class="nameRepo">
          <a [href]="repo.html_url" target="_blank" rel="noopener noreferrer">
            {{ repo.name }}
          </a>
        </h2>
      <p class="descripitionRepo">{{ repo.description || 'Sem descrição.' }}</p>
      <div class="update">
       <i class="pi pi-star" ></i>
        <p>{{ repo.stargazers_count }}</p>
        <p>-</p>
        <p class="data-atualizacao">Atualizado em {{ repo.updated_at | date: 'longDate' }}.</p>
      </div>
      <div class="line"></div>
    </div>


  </div>


</div>

