<app-header></app-header>

<div class="container">

<div id="inline">
  <div id="perfil">
    <div id="titleUser">
      <div id="boxImg">
        <i class="pi pi-user" ></i>
      </div>
        <div id="boxUser">
          <p id="nome">Nome do usuário </p>
          <p id="user">@nome_usuario</p>
        </div>
    </div>
    <p id="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus libero tortor, imperdiet at est ut, pretium laoreet nibh. Integer imperdiet odio nec consequat pellentesque.
    </p>
    <div class="boxContent" style="margin-top: 25px;">
      <i class="pi pi-heart" ></i>
      <p>220</p>
      <p>seguindo</p>
    </div>
    <div class="boxContent" style="margin-top: 8px;">
      <i class="pi pi-users" ></i>
      <p>580</p>
      <p>seguindore</p>
    </div>
    <div class="boxContent" style="margin-top: 25px;">
      <i class="pi pi-map-marker" ></i>
      <p>Curitiba/PR</p>
    </div>
     <div class="boxContent" style="margin-top: 5px;">
      <i class="pi pi-envelope" ></i>
      <p>email@gmail.com.br</p>
    </div>
  </div>
  <p-button>
    <p>Contato</p>
  </p-button>
</div>

  <div id="repo">
    <div class="repositorio">
      <h2 class="nameRepo">Nome do repositório</h2>
      <p class="descripitionRepo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam accumsan gravida. Praesent gravida mi nec ex tristique pulvinar. Phasellus tincidunt risus nec turpis varius imperdiet sed vitae sem. Curabitur quis nulla non turpis tincidunt iaculis. Aenean pellentesque neque condimentum vehicula porta. Cras tempus augue aliquam, ullamcorper diam quis, eleifend leo. Donec urna tellus, consectetur at leo sit amet, volutpat gravida augue. Pellentesque sed massa faucibus, dapibus elit nec, egestas neque. Phasellus vitae odio eget ante finibus rhoncus. Vivamus eu dolor nec tellus tempus placerat ut eget est. Curabitur pellentesque molestie metus, vel fermentum massa ornare vel.</p>
      <div class="update">
       <i class="pi pi-heart" ></i>
        <p>100</p>
        <p>-</p>
        <p>Atualizado a 2 Semanas</p>
      </div>
    </div>
    <div class="line"></div>

    <div class="repositorio">
      <h2 class="nameRepo">Nome do repositório</h2>
      <p class="descripitionRepo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam accumsan gravida. Praesent gravida mi nec ex tristique pulvinar. Phasellus tincidunt risus nec turpis varius imperdiet sed vitae sem. Curabitur quis nulla non turpis tincidunt iaculis. Aenean pellentesque neque condimentum vehicula porta. Cras tempus augue aliquam, ullamcorper diam quis, eleifend leo. Donec urna tellus, consectetur at leo sit amet, volutpat gravida augue. Pellentesque sed massa faucibus, dapibus elit nec, egestas neque. Phasellus vitae odio eget ante finibus rhoncus. Vivamus eu dolor nec tellus tempus placerat ut eget est. Curabitur pellentesque molestie metus, vel fermentum massa ornare vel.</p>
      <div class="update">
       <i class="pi pi-heart" ></i>
        <p>100</p>
        <p>-</p>
        <p>Atualizado a 2 Semanas</p>
      </div>
    </div>
    <div class="line"></div>
  </div>

</div>
