.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 3rem;
}
.boxTitle{
  display: flex;
  flex-direction: row;
}
#dev{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: blue;
  font-size: 2.3rem;
}
#finder{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #FA7A05;
  font-size: 2.3rem;
}
