@import "primeicons/primeicons.css";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html{
  margin: 0;
  padding: 0;
  height: auto;
  overflow-y: auto;
  font-family: 'Inter', sans-serif;
}
